.container,.container-fluid {
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
    max-width: $screen__m;
    width: 100%;
}

.row {
    margin-left:-15px;

    @include ds {
        margin-left:-30px;
    }
}

[class*='col-ms-'],
[class*='col-ml-'],
[class*='col-ts-'],
[class*='col-tl-'],
[class*='col-ds-'],
[class*='col-dl-'] {
    position:relative;
    min-height:1px;
    padding-left:15px;

    @include ds {
        padding-left:30px;
    }
}

[class*='col-ms-'] {
    float: left;
}
.col-ms-1-1 {
    width: 100%;
}
.col-ms-1-2, .col-ms-2-4, .col-ms-3-6, .col-ms-5-10 {
    width: 50%;
}
.col-ms-1-3, .col-ms-2-6 {
    width: 33.333%;
}
.col-ms-2-3, .col-ms-4-6 {
    width: 66.666%;
}
.col-ms-1-4 {
    width: 25%;
}
.col-ms-3-4 {
    width: 75%;
}
.col-ms-1-5, .col-ms-2-10 {
    width: 20%;
}
.col-ms-2-5, .col-ms-4-10 {
    width: 40%;
}
.col-ms-3-5, .col-ms-6-10 {
    width: 60%;
}
.col-ms-4-5, .col-ms-8-10 {
    width: 80%;
}
.col-ms-1-6 {
    width: 16.666%;
}
.col-ms-5-6 {
    width: 83.333%;
}
.col-ms-1-10 {
    width: 10%;
}
.col-ms-3-10 {
    width: 30%;
}
.col-ms-7-10 {
    width: 70%;
}
.col-ms-9-10 {
    width: 90%;
}

.col-ms-push-1-2, .col-ms-push-2-4, .col-ms-push-3-6, .col-ms-push-5-10 {
    left: 50%;
}
.col-ms-push-1-3, .col-ms-push-2-6 {
    left: 33.333%;
}
.col-ms-push-2-3, .col-ms-push-4-6 {
    left: 66.666%;
}
.col-ms-push-1-4 {
    left: 25%;
}
.col-ms-push-3-4 {
    left: 75%;
}
.col-ms-push-1-5, .col-ms-push-2-10 {
    left: 20%;
}
.col-ms-push-2-5, .col-ms-push-4-10 {
    left: 40%;
}
.col-ms-push-3-5, .col-ms-push-6-10 {
    left: 60%;
}
.col-ms-push-4-5, .col-ms-push-8-10 {
    left: 80%;
}
.col-ms-push-1-6 {
    left: 16.666%;
}
.col-ms-push-5-6 {
    left: 83.333%;
}
.col-ms-push-1-10 {
    left: 10%;
}
.col-ms-push-3-10 {
    left: 30%;
}
.col-ms-push-7-10 {
    left: 70%;
}
.col-ms-push-9-10 {
    left: 90%;
}
.col-ms-pull-1-2, .col-ms-pull-2-4, .col-ms-pull-3-6, .col-ms-pull-5-10 {
    left: -50%;
}
.col-ms-pull-1-3, .col-ms-pull-2-6 {
    left: -33.333%;
}
.col-ms-pull-2-3, .col-ms-pull-4-6 {
    left: -66.666%;
}
.col-ms-pull-1-4 {
    left: -25%;
}
.col-ms-pull-3-4 {
    left: -75%;
}
.col-ms-pull-1-5, .col-ms-pull-2-10 {
    left: -20%;
}
.col-ms-pull-2-5, .col-ms-pull-4-10 {
    left: -40%;
}
.col-ms-pull-3-5, .col-ms-pull-6-10 {
    left: -60%;
}
.col-ms-pull-4-5, .col-ms-pull-8-10 {
    left: -80%;
}
.col-ms-pull-1-6 {
    left: -16.666%;
}
.col-ms-pull-5-6 {
    left: -83.333%;
}
.col-ms-pull-1-10 {
    left: -10%;
}
.col-ms-pull-3-10 {
    left: -30%;
}
.col-ms-pull-7-10 {
    left: -70%;
}
.col-ms-pull-9-10 {
    left: -90%;
}





@media (min-width:$screen__xs) {
[class*='col-ml-'] {
    float: left;
}

.col-ml-1-1 {
    width: 100%;
}
.col-ml-1-2, .col-ml-2-4, .col-ml-3-6, .col-ml-5-10 {
    width: 50%;
}
.col-ml-1-3, .col-ml-2-6 {
    width: 33.333%;
}
.col-ml-2-3, .col-ml-4-6 {
    width: 66.666%;
}
.col-ml-1-4 {
    width: 25%;
}
.col-ml-3-4 {
    width: 75%;
}
.col-ml-1-5, .col-ml-2-10 {
    width: 20%;
}
.col-ml-2-5, .col-ml-4-10 {
    width: 40%;
}
.col-ml-3-5, .col-ml-6-10 {
    width: 60%;
}
.col-ml-4-5, .col-ml-8-10 {
    width: 80%;
}
.col-ml-1-6 {
    width: 16.666%;
}
.col-ml-5-6 {
    width: 83.333%;
}
.col-ml-1-10 {
    width: 10%;
}
.col-ml-3-10 {
    width: 30%;
}
.col-ml-7-10 {
    width: 70%;
}
.col-ml-9-10 {
    width: 90%;
}

.col-ml-push-1-2, .col-ml-push-2-4, .col-ml-push-3-6, .col-ml-push-5-10 {
    left: 50%;
}
.col-ml-push-1-3, .col-ml-push-2-6 {
    left: 33.333%;
}
.col-ml-push-2-3, .col-ml-push-4-6 {
    left: 66.666%;
}
.col-ml-push-1-4 {
    left: 25%;
}
.col-ml-push-3-4 {
    left: 75%;
}
.col-ml-push-1-5, .col-ml-push-2-10 {
    left: 20%;
}
.col-ml-push-2-5, .col-ml-push-4-10 {
    left: 40%;
}
.col-ml-push-3-5, .col-ml-push-6-10 {
    left: 60%;
}
.col-ml-push-4-5, .col-ml-push-8-10 {
    left: 80%;
}
.col-ml-push-1-6 {
    left: 16.666%;
}
.col-ml-push-5-6 {
    left: 83.333%;
}
.col-ml-push-1-10 {
    left: 10%;
}
.col-ml-push-3-10 {
    left: 30%;
}
.col-ml-push-7-10 {
    left: 70%;
}
.col-ml-push-9-10 {
    left: 90%;
}
.col-ml-pull-1-2, .col-ml-pull-2-4, .col-ml-pull-3-6, .col-ml-pull-5-10 {
    left: -50%;
}
.col-ml-pull-1-3, .col-ml-pull-2-6 {
    left: -33.333%;
}
.col-ml-pull-2-3, .col-ml-pull-4-6 {
    left: -66.666%;
}
.col-ml-pull-1-4 {
    left: -25%;
}
.col-ml-pull-3-4 {
    left: -75%;
}
.col-ml-pull-1-5, .col-ml-pull-2-10 {
    left: -20%;
}
.col-ml-pull-2-5, .col-ml-pull-4-10 {
    left: -40%;
}
.col-ml-pull-3-5, .col-ml-pull-6-10 {
    left: -60%;
}
.col-ml-pull-4-5, .col-ml-pull-8-10 {
    left: -80%;
}
.col-ml-pull-1-6 {
    left: -16.666%;
}
.col-ml-pull-5-6 {
    left: -83.333%;
}
.col-ml-pull-1-10 {
    left: -10%;
}
.col-ml-pull-3-10 {
    left: -30%;
}
.col-ml-pull-7-10 {
    left: -70%;
}
.col-ml-pull-9-10 {
    left: -90%;
}
}

@media (min-width:$screen__xs) and (max-width:$screen__s) {
.container {
    max-width:$screen__s
}
}

@media (min-width:$screen__s) {
[class*='col-ts-'] {
    float: left;
}
.col-ts-1-1 {
    width: 100%;
}
.col-ts-1-2, .col-ts-2-4, .col-ts-3-6, .col-ts-5-10 {
    width: 50%;
}
.col-ts-1-3, .col-ts-2-6 {
    width: 33.333%;
}
.col-ts-2-3, .col-ts-4-6 {
    width: 66.666%;
}
.col-ts-1-4 {
    width: 25%;
}
.col-ts-3-4 {
    width: 75%;
}
.col-ts-1-5, .col-ts-2-10 {
    width: 20%;
}
.col-ts-2-5, .col-ts-4-10 {
    width: 40%;
}
.col-ts-3-5, .col-ts-6-10 {
    width: 60%;
}
.col-ts-4-5, .col-ts-8-10 {
    width: 80%;
}
.col-ts-1-6 {
    width: 16.666%;
}
.col-ts-5-6 {
    width: 83.333%;
}
.col-ts-1-10 {
    width: 10%;
}
.col-ts-3-10 {
    width: 30%;
}
.col-ts-7-10 {
    width: 70%;
}
.col-ts-9-10 {
    width: 90%;
}

.col-ts-push-1-2, .col-ts-push-2-4, .col-ts-push-3-6, .col-ts-push-5-10 {
    left: 50%;
}
.col-ts-push-1-3, .col-ts-push-2-6 {
    left: 33.333%;
}
.col-ts-push-2-3, .col-ts-push-4-6 {
    left: 66.666%;
}
.col-ts-push-1-4 {
    left: 25%;
}
.col-ts-push-3-4 {
    left: 75%;
}
.col-ts-push-1-5, .col-ts-push-2-10 {
    left: 20%;
}
.col-ts-push-2-5, .col-ts-push-4-10 {
    left: 40%;
}
.col-ts-push-3-5, .col-ts-push-6-10 {
    left: 60%;
}
.col-ts-push-4-5, .col-ts-push-8-10 {
    left: 80%;
}
.col-ts-push-1-6 {
    left: 16.666%;
}
.col-ts-push-5-6 {
    left: 83.333%;
}
.col-ts-push-1-10 {
    left: 10%;
}
.col-ts-push-3-10 {
    left: 30%;
}
.col-ts-push-7-10 {
    left: 70%;
}
.col-ts-push-9-10 {
    left: 90%;
}
.col-ts-pull-1-2, .col-ts-pull-2-4, .col-ts-pull-3-6, .col-ts-pull-5-10 {
    left: -50%;
}
.col-ts-pull-1-3, .col-ts-pull-2-6 {
    left: -33.333%;
}
.col-ts-pull-2-3, .col-ts-pull-4-6 {
    left: -66.666%;
}
.col-ts-pull-1-4 {
    left: -25%;
}
.col-ts-pull-3-4 {
    left: -75%;
}
.col-ts-pull-1-5, .col-ts-pull-2-10 {
    left: -20%;
}
.col-ts-pull-2-5, .col-ts-pull-4-10 {
    left: -40%;
}
.col-ts-pull-3-5, .col-ts-pull-6-10 {
    left: -60%;
}
.col-ts-pull-4-5, .col-ts-pull-8-10 {
    left: -80%;
}
.col-ts-pull-1-6 {
    left: -16.666%;
}
.col-ts-pull-5-6 {
    left: -83.333%;
}
.col-ts-pull-1-10 {
    left: -10%;
}
.col-ts-pull-3-10 {
    left: -30%;
}
.col-ts-pull-7-10 {
    left: -70%;
}
.col-ts-pull-9-10 {
    left: -90%;
}
}

@media (min-width:$screen__m) {
[class*='col-tl-'] {
    float: left;
}
.col-tl-1-1 {
    width: 100%;
}
.col-tl-1-2, .col-tl-2-4, .col-tl-3-6, .col-tl-5-10 {
    width: 50%;
}
.col-tl-1-3, .col-tl-2-6 {
    width: 33.333%;
}
.col-tl-2-3, .col-tl-4-6 {
    width: 66.666%;
}
.col-tl-1-4 {
    width: 25%;
}
.col-tl-3-4 {
    width: 75%;
}
.col-tl-1-5, .col-tl-2-10 {
    width: 20%;
}
.col-tl-2-5, .col-tl-4-10 {
    width: 40%;
}
.col-tl-3-5, .col-tl-6-10 {
    width: 60%;
}
.col-tl-4-5, .col-tl-8-10 {
    width: 80%;
}
.col-tl-1-6 {
    width: 16.666%;
}
.col-tl-5-6 {
    width: 83.333%;
}
.col-tl-1-10 {
    width: 10%;
}
.col-tl-3-10 {
    width: 30%;
}
.col-tl-7-10 {
    width: 70%;
}
.col-tl-9-10 {
    width: 90%;
}

.col-tl-push-1-2, .col-tl-push-2-4, .col-tl-push-3-6, .col-tl-push-5-10 {
    left: 50%;
}
.col-tl-push-1-3, .col-tl-push-2-6 {
    left: 33.333%;
}
.col-tl-push-2-3, .col-tl-push-4-6 {
    left: 66.666%;
}
.col-tl-push-1-4 {
    left: 25%;
}
.col-tl-push-3-4 {
    left: 75%;
}
.col-tl-push-1-5, .col-tl-push-2-10 {
    left: 20%;
}
.col-tl-push-2-5, .col-tl-push-4-10 {
    left: 40%;
}
.col-tl-push-3-5, .col-tl-push-6-10 {
    left: 60%;
}
.col-tl-push-4-5, .col-tl-push-8-10 {
    left: 80%;
}
.col-tl-push-1-6 {
    left: 16.666%;
}
.col-tl-push-5-6 {
    left: 83.333%;
}
.col-tl-push-1-10 {
    left: 10%;
}
.col-tl-push-3-10 {
    left: 30%;
}
.col-tl-push-7-10 {
    left: 70%;
}
.col-tl-push-9-10 {
    left: 90%;
}
.col-tl-pull-1-2, .col-tl-pull-2-4, .col-tl-pull-3-6, .col-tl-pull-5-10 {
    left: -50%;
}
.col-tl-pull-1-3, .col-tl-pull-2-6 {
    left: -33.333%;
}
.col-tl-pull-2-3, .col-tl-pull-4-6 {
    left: -66.666%;
}
.col-tl-pull-1-4 {
    left: -25%;
}
.col-tl-pull-3-4 {
    left: -75%;
}
.col-tl-pull-1-5, .col-tl-pull-2-10 {
    left: -20%;
}
.col-tl-pull-2-5, .col-tl-pull-4-10 {
    left: -40%;
}
.col-tl-pull-3-5, .col-tl-pull-6-10 {
    left: -60%;
}
.col-tl-pull-4-5, .col-tl-pull-8-10 {
    left: -80%;
}
.col-tl-pull-1-6 {
    left: -16.666%;
}
.col-tl-pull-5-6 {
    left: -83.333%;
}
.col-tl-pull-1-10 {
    left: -10%;
}
.col-tl-pull-3-10 {
    left: -30%;
}
.col-tl-pull-7-10 {
    left: -70%;
}
.col-tl-pull-9-10 {
    left: -90%;
}
}

@media (min-width:$screen__l) {
[class*='col-ds-'] {
    float: left;
}
.col-ds-1-1 {
    width: 100%;
}
.col-ds-1-2, .col-ds-2-4, .col-ds-3-6, .col-ds-5-10 {
    width: 50%;
}
.col-ds-1-3, .col-ds-2-6 {
    width: 33.333%;
}
.col-ds-2-3, .col-ds-4-6 {
    width: 66.666%;
}
.col-ds-1-4 {
    width: 25%;
}
.col-ds-3-4 {
    width: 75%;
}
.col-ds-1-5, .col-ds-2-10 {
    width: 20%;
}
.col-ds-2-5, .col-ds-4-10 {
    width: 40%;
}
.col-ds-3-5, .col-ds-6-10 {
    width: 60%;
}
.col-ds-4-5, .col-ds-8-10 {
    width: 80%;
}
.col-ds-1-6 {
    width: 16.666%;
}
.col-ds-5-6 {
    width: 83.333%;
}
.col-ds-1-10 {
    width: 10%;
}
.col-ds-3-10 {
    width: 30%;
}
.col-ds-7-10 {
    width: 70%;
}
.col-ds-9-10 {
    width: 90%;
}

.col-ds-push-1-2, .col-ds-push-2-4, .col-ds-push-3-6, .col-ds-push-5-10 {
    left: 50%;
}
.col-ds-push-1-3, .col-ds-push-2-6 {
    left: 33.333%;
}
.col-ds-push-2-3, .col-ds-push-4-6 {
    left: 66.666%;
}
.col-ds-push-1-4 {
    left: 25%;
}
.col-ds-push-3-4 {
    left: 75%;
}
.col-ds-push-1-5, .col-ds-push-2-10 {
    left: 20%;
}
.col-ds-push-2-5, .col-ds-push-4-10 {
    left: 40%;
}
.col-ds-push-3-5, .col-ds-push-6-10 {
    left: 60%;
}
.col-ds-push-4-5, .col-ds-push-8-10 {
    left: 80%;
}
.col-ds-push-1-6 {
    left: 16.666%;
}
.col-ds-push-5-6 {
    left: 83.333%;
}
.col-ds-push-1-10 {
    left: 10%;
}
.col-ds-push-3-10 {
    left: 30%;
}
.col-ds-push-7-10 {
    left: 70%;
}
.col-ds-push-9-10 {
    left: 90%;
}
.col-ds-pull-1-2, .col-ds-pull-2-4, .col-ds-pull-3-6, .col-ds-pull-5-10 {
    left: -50%;
}
.col-ds-pull-1-3, .col-ds-pull-2-6 {
    left: -33.333%;
}
.col-ds-pull-2-3, .col-ds-pull-4-6 {
    left: -66.666%;
}
.col-ds-pull-1-4 {
    left: -25%;
}
.col-ds-pull-3-4 {
    left: -75%;
}
.col-ds-pull-1-5, .col-ds-pull-2-10 {
    left: -20%;
}
.col-ds-pull-2-5, .col-ds-pull-4-10 {
    left: -40%;
}
.col-ds-pull-3-5, .col-ds-pull-6-10 {
    left: -60%;
}
.col-ds-pull-4-5, .col-ds-pull-8-10 {
    left: -80%;
}
.col-ds-pull-1-6 {
    left: -16.666%;
}
.col-ds-pull-5-6 {
    left: -83.333%;
}
.col-ds-pull-1-10 {
    left: -10%;
}
.col-ds-pull-3-10 {
    left: -30%;
}
.col-ds-pull-7-10 {
    left: -70%;
}
.col-ds-pull-9-10 {
    left: -90%;
}
}

@media (min-width:$screen__xl) {
[class*='col-dl-'] {
    float: left;
}
.col-dl-1-1 {
    width: 100%;
}
.col-dl-1-2, .col-dl-2-4, .col-dl-3-6, .col-dl-5-10 {
    width: 50%;
}
.col-dl-1-3, .col-dl-2-6 {
    width: 33.333%;
}
.col-dl-2-3, .col-dl-4-6 {
    width: 66.666%;
}
.col-dl-1-4 {
    width: 25%;
}
.col-dl-3-4 {
    width: 75%;
}
.col-dl-1-5, .col-dl-2-10 {
    width: 20%;
}
.col-dl-2-5, .col-dl-4-10 {
    width: 40%;
}
.col-dl-3-5, .col-dl-6-10 {
    width: 60%;
}
.col-dl-4-5, .col-dl-8-10 {
    width: 80%;
}
.col-dl-1-6 {
    width: 16.666%;
}
.col-dl-5-6 {
    width: 83.333%;
}
.col-dl-1-10 {
    width: 10%;
}
.col-dl-3-10 {
    width: 30%;
}
.col-dl-7-10 {
    width: 70%;
}
.col-dl-9-10 {
    width: 90%;
}

.col-dl-push-1-2, .col-dl-push-2-4, .col-dl-push-3-6, .col-dl-push-5-10 {
    left: 50%;
}
.col-dl-push-1-3, .col-dl-push-2-6 {
    left: 33.333%;
}
.col-dl-push-2-3, .col-dl-push-4-6 {
    left: 66.666%;
}
.col-dl-push-1-4 {
    left: 25%;
}
.col-dl-push-3-4 {
    left: 75%;
}
.col-dl-push-1-5, .col-dl-push-2-10 {
    left: 20%;
}
.col-dl-push-2-5, .col-dl-push-4-10 {
    left: 40%;
}
.col-dl-push-3-5, .col-dl-push-6-10 {
    left: 60%;
}
.col-dl-push-4-5, .col-dl-push-8-10 {
    left: 80%;
}
.col-dl-push-1-6 {
    left: 16.666%;
}
.col-dl-push-5-6 {
    left: 83.333%;
}
.col-dl-push-1-10 {
    left: 10%;
}
.col-dl-push-3-10 {
    left: 30%;
}
.col-dl-push-7-10 {
    left: 70%;
}
.col-dl-push-9-10 {
    left: 90%;
}
.col-dl-pull-1-2, .col-dl-pull-2-4, .col-dl-pull-3-6, .col-dl-pull-5-10 {
    left: -50%;
}
.col-dl-pull-1-3, .col-dl-pull-2-6 {
    left: -33.333%;
}
.col-dl-pull-2-3, .col-dl-pull-4-6 {
    left: -66.666%;
}
.col-dl-pull-1-4 {
    left: -25%;
}
.col-dl-pull-3-4 {
    left: -75%;
}
.col-dl-pull-1-5, .col-dl-pull-2-10 {
    left: -20%;
}
.col-dl-pull-2-5, .col-dl-pull-4-10 {
    left: -40%;
}
.col-dl-pull-3-5, .col-dl-pull-6-10 {
    left: -60%;
}
.col-dl-pull-4-5, .col-dl-pull-8-10 {
    left: -80%;
}
.col-dl-pull-1-6 {
    left: -16.666%;
}
.col-dl-pull-5-6 {
    left: -83.333%;
}
.col-dl-pull-1-10 {
    left: -10%;
}
.col-dl-pull-3-10 {
    left: -30%;
}
.col-dl-pull-7-10 {
    left: -70%;
}
.col-dl-pull-9-10 {
    left: -90%;
}
}

.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before {
    content:" ";
    display:table
}

.clearfix:after,.container-fluid:after,.container:after,.row:after {
    clear:both
}

/* responsive element showing*/
.hidden-ml {display: block!important;@include ml {display: none!important;}}
.hidden-ts {display: block!important;@include ts {display: none!important;}}
.hidden-tl {display: block!important;@include tl {display: none!important;}}
.hidden-ds {display: block!important;@include ds {display: none!important;}}
.visible-ml {display: none!important;@include ml {display: block!important;}}
.visible-ts {display: none!important;@include ts {display: block!important;}}
.visible-tl {display: none!important;@include tl {display: block!important;}}
.visible-ds {display: none!important;@include ds {display: block!important;}}

/* inline block elements - overrides bootstrap floats - needs font-size adjust on child elements*/
.inline-blocks {font-size: 0;letter-spacing: 0;
.item {float: none;display: inline-block;vertical-align: top;}
.hidden-ml {display: inline-block!important;@include ml {display: none!important;}}
.hidden-ts {display: inline-block!important;@include ts {display: none!important;}}
.hidden-tl {display: inline-block!important;@include tl {display: none!important;}}
.hidden-ds {display: inline-block!important;@include ds {display: none!important;}}
.visible-ml {display: none!important;@include ml {display: inline-block!important;}}
.visible-ts {display: none!important;@include ts {display: inline-block!important;}}
.visible-tl {display: none!important;@include tl {display: inline-block!important;}}
.visible-ds {display: none!important;@include ds {display: inline-block!important;}}
}

/* override default grid gutter*/
.gutter-0 {
    margin-left: 0;

    [class*='col-'] {
        padding-left:0;
    }
}
.gutter-10 {
    margin-left: -10px;

    [class*='col-'] {
        padding-left:10px;
    }
}
.gutter-20 {
    margin-left: -20px;

    [class*='col-'] {
        padding-left:20px;
    }
}
.gutter-30 {
    margin-left: -30px;

    [class*='col-'] {
        padding-left:30px;
    }
}
.gutter-40 {

    margin-left: -40px;

    [class*='col-'] {
        padding-left:40px;
    }
}
.gutter-50 {
    margin-left: -50px;

    [class*='col-'] {
        padding-left:50px;
    }
}