//general
$layout__max-width: 1410px;

//media queries
$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 767px;
$screen__m: 992px;
$screen__l: 1200px;
$screen__xl: 1410px;

//sidebar width
$layout-column__sidebar-width: 3;